.bg {
    /* background-image: url('./bg.jpg');    
    @apply bg-cover bg-no-repeat */
    @apply bg-[conic-gradient(at_top_right,_var(--tw-gradient-stops))] from-gray-700 via-gray-900 to-black
}

.bgm{
    
    @apply bg-gradient-to-t from-gray-700 via-gray-900 to-black
}

.bgmod{
    @apply bg-[radial-gradient(ellipse_at_bottom_right,_var(--tw-gradient-stops))]
}

.bgin{
    @apply bg-[conic-gradient(at_right,_var(--tw-gradient-stops))] from-gray-700 via-gray-900 to-black
}



.center{
    position: absolute;        
    left: 50%;  
    transform: translate(-50%)
}

.closed{
    transform: translateY(-90%);
    @apply  transition-all ease-in-out
}

.opened{
    transform: translateY(0);
    @apply transition-all ease-in-out
}




/* effects */

input[type="text"]:focus ~ .input-text{    
    @apply text-cyan-500  transform -translate-y-4 bg-black scale-75
}
